/*
	import Nord theme colors
*/ 
  :root {
	/*polar night*/
	--gray1: #2e3440;
	--gray2: #3b4252;
	--gray3: #434c5e;
	--gray4: #4c566a;

	/*snow storm*/
	--white1: #d8dee9;
	--white2: #e5e9f0;
	--white3: #eceff4;

	/*frost*/
	--blue: #5e81ac;
	--light-blue: #81a1c1;
	--acqua-blue: #88c0d0;
	--acqua-green: #8fbcbb;

	/*aurora*/
	--red: #bf616a;
	--orange: #d08770;
	--yellow: #ebcb8b;
	--green: #a3be8c;
	--magenta: #b48ead;

	--search-bg: rgba(255, 255, 255, 0);
}

/*
	dark theme
*/
.dark {
	--bg: var(--gray1);
	--fg: var(--gray2);

	--text: var(--blue);
	--accent: var(--magenta);
	--links: var(--white1);
}

/*
	light theme
*/
.light {
	--bg: var(--white2);
	--fg: var(--white1);

	--text: var(--gray3);
	--accent: var(--blue);
	--links: var(--gray4);
}

body {
	background-color: var(--bg);
	font-family: 'Space Mono', monospace;
	color: var(--text);
	transition: all 0.25s ease-out;
}

ul {
	list-style-type: none;
	text-align: left;
	padding: 2px 15px;
}

p[class=credits] > a {
	position: fixed;
	bottom: 7px;
	right: 10px;
}

form {
	margin: 1em 0;
	position: relative;
}

form input[type="search"] {
	background-color: var(--search-bg);
	border: none;
	box-sizing: border-box;
	font-weight: bold;
	font: inherit;
	margin-left: 12px;
	width: 95%;
	color: var(--accent);
	transition: all 0.2s;
}

form label {
	color: var(--text);
	position: absolute;
	transition: all 0.4s;
}

form:focus-within input::placeholder {
	opacity: 0;
}

#main_window {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--fg);
	width: 910px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	transition: all 0.25s;
}

#content {
	/*padding-top: 40px;*/
	margin-left: 0px;
	
}

#links_container {
	display: flex;
	flex-wrap: wrap;
}

.link{
	text-decoration: none;
	transition: all 0.4s;
	color: var(--links);
}

.link:hover {
	color: var(--accent);
	transition: all 0.4s;
}

.subtitle {
	font-weight: bold;
	color: var(--text);
}

.title a {
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	color: var(--text);
}

.image {
	max-width: 250px;
	float: left;
}

.bottom {
	position: fixed;
	bottom: 0;
	font-size: 0.52em;
}

.bottom a {
	text-decoration: none;
	color: var(--text);
}

.bottom a:hover {
	text-decoration: underline;
}

/*
	Media querries
*/
@media (max-width: 980px) {
	img#leftImg {
    	height: 280px;
  	}

  	#main_window {
		width: 833px;
		padding-right: 0;
	}

	ul {
		padding-top: 0px;
		margin-top: -7px;
	}
}

@media (max-width: 833px) {
	img#leftImg {
		display: none;
	}

	#main_window {
		width: 650px;
	}

	#content {
		margin-left: 20px;

	}
}

@media (max-width: 650px) {
	#main_window {
		width: 100%;
	}
}

@media (max-width: 450px) {
	form input[type="search"] {
		width: 90%;
	}
}
